.tt-destinations__heading {
  display: flex;
  justify-content: space-between;
}

.tt-destinations__heading_link {
  display: flex;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 60px;
  color: var(--accent-color);
}

.tt-destinations__heading_link p {
  margin-right: 10px;
}

.tt-destinations__content {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
}

.tt-destinations__content-picture {
  position: relative;
}

.tt-destinations__content-picture_name {
  position: absolute;
  display: flex;
  align-items: flex-end;
  bottom: 0px;
  left: 0px;
  width: 120px;
  height: 56px;
  background-color: var(--white-color);
  z-index: 5;
  border-radius: 0px 6px 0px 0px;
}

.tt-destinations__content-picture_name p {
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  color: var(--text-color);
}

.tt-destinations__content-picture_name p span {
  font-weight: 500;
  color: var(--text-color-2);
}

@media (max-width: 1300px) {
  .tt-destinations__content {
    flex-wrap: wrap;
    margin-top: 28px;
  }

  .tt-destinations__content-picture {
    height: 280px;
    width: calc(50% - 12px);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .tt-destinations__content-picture:not(:nth-child(-n + 2)) {
    margin-top: 24px;
  }

  .tt-destinations__content-picture > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .tt-destinations__content-picture_name {
    padding: 0 0 8px 8px;
  }
}
