.tt-header__wrapper {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-top: 35px;
  background-color: var(--white-color);
  z-index: 999;
}

.tt-header__logo {
  height: 41px;
  width: 41px;
}

.tt-header__content {
  display: flex;
  align-items: center;
}

.tt-header__nav-list-item {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}
.tt-header__nav-list-item:not(:first-child) {
  margin-left: 34px;
}

.tt-header__nav-list-item-link {
  display: block;
}

.tt-header__buttons {
  display: flex;
  margin-left: 34px;
}

.tt-header__login-button,
.tt-header__register-button {
  height: 44px;
  width: 132px;
}
.tt-header__register-button {
  margin-left: 18px;
}