.tt-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.tt-header__logo {
  height: 41px;
  width: 41px;
}

.tt-header__content {
  display: flex;
  align-items: center;
}

.tt-header__nav-list-item {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}
.tt-header__nav-list-item:not(:first-child) {
  margin-left: 34px;
}

.tt-header__nav-list-item-link {
  display: block;
}

.tt-header__buttons {
  display: flex;
  margin-left: 34px;
}

.tt-header__login-button,
.tt-header__register-button {
  height: 44px;
  width: 132px;
}
.tt-header__register-button {
  margin-left: 18px;
}

@media (max-width: 800px) {
  .tt-header__logo {
    height: 20px;
    width: 20px;
  }

  .tt-header__nav {
    display: none;
  }

  .tt-header__buttons {
    margin-left: 0;
  }

  .tt-header__login-button,
  .tt-header__register-button {
    height: 22px;
    width: 96px;
  }
}
