.tt-second-fourth-screen__article-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
.tt-second-fourth-screen__img {
    width: 50%;
}
.article-info__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.article-info__title {
    font-size: 36px;
    line-height: 65px;
    font-family: 'Playfair Display', serif;
}
.article-info__title > h2 {
    margin: 0;
}
.article-info__text {
    font-size: 17px;
    line-height: 30px;
    font-family: 'Mulish', sans-serif;
    color: var(--text-color-2);
    margin: 20px auto;
}
.article-info__button {
    height: 44px;
    width: 132px;
}
.button__text {
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}