.tt-stories__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tt-stories__heading-button {
  font-size: 1.0625rem;
  font-weight: 600;
}

.tt-stories__heading-button-arrow {
  margin-left: 11px;
}

.tt-stories__content {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.tt-stories__item {
  display: flex;
  flex-direction: column;
  height: 446px;
  width: 261px;
}

.tt-stories__item-image {
  height: 230px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}

.tt-stories__item-title {
  margin-top: 14px;
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.57;
}

.tt-stories__item-text {
  margin-top: 13px;
  font-size: 0.9375rem;
  line-height: 1.733;
  color: var(--text-color-2);
}

.tt-stories__item-button {
  align-self: flex-start;
  display: inline-flex;
  margin-top: auto;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.866;
  text-align: left;
}

@media (max-width: 1300px) {
  .tt-stories__content {
    flex-wrap: wrap;
    margin-top: 24px;
  }

  .tt-stories__item {
    width: calc(50% - 12px);
  }

  .tt-stories__item:not(:nth-child(-n + 2)) {
    margin-top: 24px;
  }
}

@media (max-width: 800px) {
  .tt-stories__heading {
    flex-direction: column;
    align-items: start;
  }

  .tt-stories__item {
    height: auto;
    width: 100%;
  }

  .tt-stories__item:not(:first-child) {
    margin-top: 24px;
  }

  .tt-stories__item-image {
    background-size: cover;
  }

  .tt-stories__item-title {
    font-size: 1.125rem;
    line-height: 1.25;
  }
  
  .tt-stories__item-button {
    margin-top: 24px;
  }
}
