/* common styles */

:root {
  --text-color: #000000;
  --text-color-2: #7d7987;
  --text-color-3: #202336;
  --text-color-4: #848484;
  --accent-color: #fb8f1d;
  --white-color: #ffffff;
  --border-color: #afb0b9;
  --line-color: #c4c4c4;
  --foot-color: #f9f9fb;
}

html {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
}

#root {
  position: relative;
}

.tt-page__content-wrapper {
  box-sizing: border-box;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 105px;
  padding-left: 105px;
}

.tt-page__section,
.tt-page__footer {
  margin-top: 200px;
}

.tt-page__header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 35px;
  background-color: var(--white-color);
  z-index: 999;
}

.tt-page__firstscreen {
  margin-top: 72px;
}

.tt-page__footer {
  padding: 70px 0 37px;
  background-color: var(--foot-color);
}

.tt-page__arrow {
  height: 11px;
  width: 6px;
  background-image: url(../img/arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

h2,
h3 {
  font-family: "Playfair Display", serif;
}

h2,
h3,
h4 {
  margin: 0;
}

h2 {
  font-size: 4rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.8rem;
}

h4 {
  font-family: inherit;
  font-size: 1.375rem;
  line-height: 2.8rem;
}

input {
  box-sizing: border-box;
  padding: 0;
}

@media (max-width: 1300px) {
  .tt-page__header > .tt-page__content-wrapper {
    max-width: unset;
  }

  .tt-page__section, .tt-page__footer {
    margin-top: 80px;
  }

  .tt-page__firstscreen {
    margin-top: 36px;
  }

  .tt-page__content-wrapper {
    max-width: 600px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .tt-page__footer {
    padding: 34px 0 16px;
  }
}
